<template lang="pug">
  v-layout(justify-center align-center row wrap)
    v-snackbar(v-model="snack")
      div File uploaded!
      v-btn(color="success", flat, @click.native="snack = false") close
    v-flex(xs12 sm8 md8, style="position:relative")
      v-card
        v-card-title IPFS file uploader
        v-card-text
          p Select a video that you want to upload
          UploadButton.pl-0(
            title='Upload a file'
            :fileChangedCallback="handleFileUpload"
            )
            template(slot="icon")
              v-icon(dark, style="margin-left: 10px;") cloud_upload
    v-flex(xs12, sm8, md8, style="margin-top: 20px;")
      tableData(:data="savedFiles", v-on:delete-file="deleteFile")
</template>
<script>
var CryptoJS = require('crypto-js')
import localConfig from '~/localConfig.js'
import UploadButton from '~/components/upload.vue'
import { filter, isUndefined } from 'lodash'
import tableData from '~/components/files.vue'
export default {
  components: {
    tableData,
    UploadButton
  },
  data() {
    return {
      snack: false,
      files: [],
      hashes: [],
      savedFiles: [],
      email: 'daniellom@mailinator.com'
    }
  },
  watch: {
    savedFiles() {
      localStorage.setItem('files', JSON.stringify(this.savedFiles))
    }
  },
  created() {
    try {
      this.savedFiles = JSON.parse(localStorage.getItem('files'))
      if (this.savedFiles === null) {
        this.savedFiles = []
      }
    } catch (err) {
      console.log('No files detected')
    }
  },
  async asyncData({ app }) {
    let peers = await app.$axios.$get(
      `${localConfig.ipfsURL}/api/v0/swarm/peers?verbose=true`
    )
    let tmp = []
    for (const b of peers.Peers) {
      tmp.push(b.Addr.split('/')[2])
    }
    return {
      peers: tmp
    }
  },
  methods: {
    deleteFile(file) {
      let idx = this.savedFiles.indexOf(file)
      this.savedFiles.splice(idx, 1)
    },
    async uploadFile(file) {
      let formData = new FormData()
      formData.append('file', file)
      const url = `${localConfig.ipfsURL}/api/v0/add`
      await this.$axios.$post(url, formData).then(response => {
        if (!isUndefined(response['Hash'])) {
          this.hashes.push(response['Hash'])
          this.savedFiles.push({
            fileName: file.name,
            fileHash: response.Hash
          })
          console.log(response['Hash'])
          this.createBackup(response.Hash)
        }
      })
    },
    createBackup(hash) {
      let url
      for (const peer of this.peers) {
        url = `http://${peer}:8080/ipfs/${hash}`
        this.$axios.$get(url)
        console.log(url)
      }
    },
    emailHashes() {
      let email = this.$refs.email.value
      let links = []
      let links_text = ''
      let links_html = ''
      this.hashes.forEach(function(hash) {
        let encrypted = CryptoJS.AES.encrypt(hash, localConfig.secret)
        let encrypted_uri = encodeURIComponent(encrypted.toString())
        let link = `${localConfig.downloadBaseURL}${encrypted_uri}`
        links_text = links_text + link + '\n'
        links_html = links_html + '<a href="' + link + '">' + link + '</a><br>'
      })
      this.$axios
        .$post('/api/mailer', {
          eto: email,
          etext: links_text,
          ehtml: links_html
        })
        .then(response => {
          console.log(response)
        })
    },
    async submitFile() {
      console.log('Uploading')
      await Promise.all(
        Array.from(this.files).map(async file => {
          await this.uploadFile(file)
        })
      ).then(dummy => {
        console.log('Upload finished')
        this.snack = true
        // this.emailHashes()
      })
    },
    handleFileUpload(file) {
      console.log('file change')
      this.files = [file]
      this.submitFile()
      console.log(this.files)
    }
  }
}
</script>
