<template lang="pug">
  div
    section.hero
      .hero-body
    section(class='container')
      v-btn(color="primary", :href="url", :download="fileName") Get the file
</template>
<script>
const localConfig = require('../../localConfig')
var CryptoJS = require('crypto-js')
var FileDownload = require('js-file-download')
export default {
  data() {
    return {
      loading: true,
      hash: 0,
      filelink: '#'
    }
  },
  validate({ params }) {
    // Must be a number
    this.hash = params.id
    return /^.*$/.test(params.id)
  },
  async asyncData({ app, params }) {
    let hash = encodeURIComponent(params.id)
    let url = `/api/proxy/${hash}`
    let fileName = await app.$axios.$get(`/api/links/${hash}`)
    return {
      fileName,
      url
    }
  }
}
</script>
