<template lang="pug">
  div
    section.hero
      .hero-body
    section(class='container')
      v-text-field(v-model="hash", placeholder="File hash")
      v-btn(color="primary", :href="url", :download="fileName") Get the file
</template>
<script>
// const localConfig = require('../../localConfig')
import localConfig from '~/localConfig.js'
var CryptoJS = require('crypto-js')
var FileDownload = require('js-file-download')
export default {
  data() {
    return {
      loading: true,
      hash: null,
      filelink: '#',
      fileName: 'prueba'
    }
  },
  computed: {
    url() {
      return localConfig.ipfsBaseUrl + this.hash
    }
  }
  // watch: {
  //   async hash() {
  //     if (this.hash) {
  //       let tmp = await this.getData()
  //       this.url = tmp.url
  //       this.fileName = tmp.fileName
  //     }
  //   }
  // },
  // methods: {
  //   async getData() {
  //     // let hash = encodeURIComponent(this.hash)
  //     // let url = `/api/proxy/${hash}`
  //     // let fileName = await this.$axios.$get(`/api/links/${hash}`)
  //     let fileName = 'prueba.mp4'
  //     let url = localConfig.ipfsBaseUrl + this.hash
  //     return {
  //       fileName,
  //       url
  //     }
  //   }
  // }
}
</script>
