<template lang="pug">
  v-app
    v-navigation-drawer(app, dark, v-model="drawer", fixed)
      vNav
    v-toolbar(fixed, app, :height="64")
      v-toolbar-side-icon(@click.stop="drawer = !drawer")
      v-spacer
      v-toolbar-items
        v-btn(flat, icon, :nuxt="true", to="/")
          v-icon() home
        v-btn(flat, :nuxt="true", to="/downloads")
          v-icon cloud_download
    v-content(app)
      v-container(fluid)
        nuxt
    // v-footer(app)
</template>
<script>
import vNav from '~/components/vNav.vue'
export default {
  components: {
    vNav
  },
  data() {
    return {
      drawer: false
    }
  }
}
</script>
