<template lang="pug">
  v-card
    share(:dialog.sync="dialog", :fileObj="currentFile")
    v-card-title Your files
    v-slide-y-transition.py-0(group, tag="v-list")
      template(v-for="(tile, idx) in data")
        v-divider.my-0(v-if="idx !== 0", :key="`${idx}-divider`")
        v-list-tile(:key="`${idx}-tile`")
          v-list-tile-content
            v-list-tile-title {{tile.fileName}}
          v-list-tile-action
            v-btn(color="primary", flat, icon, @click="del(tile)")
              v-icon delete
          v-list-tile-action
            v-btn(color="primary", flat, icon, @click="share(tile)")
              v-icon share

</template>
<script>
import share from '~/components/share.vue'
export default {
  components: {
    share
  },
  props: {
    data: {
      default: () => {
        return []
      },
      type: Array
    }
  },
  data() {
    return {
      currentFile: {},
      dialog: false
    }
  },
  methods: {
    share(fileObj) {
      this.currentFile = fileObj
      this.dialog = true
    },
    del(tile) {
      this.$emit('delete-file', tile)
    }
  }
}
</script>
