<template lang="pug">
  v-dialog(v-model="dialog", max-width="290")
    v-card
      v-card-title.headline.text-truncate Share: {{fileObj.fileName}}
      v-card-text
        p Copy this hash and send it via email
        v-text-field(v-model="fileObj.fileHash" disabled)
      // v-card-text 
      //   p Share this file with this email
      //   v-text-field(v-model="email")
      v-card-actions
        v-spacer
        v-btn(color="green darken-1", flat, @click="cancelAction") Cancel
        // v-btn(color="green darken-1", flat, @click="share") Share
        v-btn(color="green darken-1", flat, @click="cancelAction") OK
</template>
<script>
import localConfig from '../localConfig'
var CryptoJS = require('crypto-js')
export default {
  props: {
    fileObj: {
      default: () => {
        return {}
      },
      type: Object
    },
    dialog: {
      default: false,
      type: Boolean
    },
    email: {
      default: 'daniellom@mailinator.com',
      type: String
    }
  },
  data() {
    return {
      hash: ''
    }
  },
  mounted() {
    this.share()
  },
  methods: {
    cancelAction() {
      this.$emit('update:dialog', false)
    },
    async share() {
      let email = this.email
      let links = []
      let links_text = 'Hash will be valid only 48 hours.\n'
      let links_html = '<p>Hash will be valid only 48 hours.</p>'
      let encrypted = CryptoJS.AES.encrypt(
        this.fileObj.fileHash,
        localConfig.secret
      )
      let encrypted_uri = encodeURIComponent(encrypted.toString())
      // let link = `${localConfig.ipfsURL}/downloads/${encrypted_uri}`
      this.hash = `${encrypted_uri}`
      // let link = `${encrypted_uri}`
      // links_text = links_text + link + '\n'
      // links_html = `<p>${links_html} <br/><strong>${link}</strong> <br/></p>`
      // Link will be valid only for 48 hours
      // let url = `/api/links/new`
      // await this.$axios.$post(url, {
      //   hash: encrypted_uri,
      //   exp: 172800,
      //   name: this.fileObj.fileName
      // })

      // this.$axios
      //   .$post('/api/mailer', {
      //     eto: email,
      //     etext: links_text,
      //     ehtml: links_html
      //   })
      //   .then(response => {
      //     if (response.message === 'Queued. Thank you.') {
      //       this.$emit('update:dialog', false)
      //     }
      //   })
    }
  }
}
</script>
