<template lang="pug">
  div
    v-list(dense='')
      v-list-tile(:nuxt="true", href="/")
        v-list-tile-action
          v-icon home
        v-list-tile-content
          v-list-tile-title home
      v-list-tile(:nuxt="true", href='/downloads')
        v-list-tile-action
          v-icon cloud_download
        v-list-tile-content
          v-list-tile-title Donwloads
</template>
<script>
export default {
  data() {
    return {
      drawer: false
    }
  }
}
</script>
<style scoped>
</style>
